# Generate a random secret:`openssl rand -base64 32`
AUTH_SECRET=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/postgres
POSTGRES_URL=****

# BLUEBAG API KEY
BLUEBAG_API_KEY=****
